body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: black;
}

.navbar__left{
    margin-left: -20px;
}

.navbar__left > ul{
    display: flex;
    align-items: center;
}

.navbar__left li{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 16px 0 16px;
}

.navbar__left li i{
    color: #3fd0d4;
}

.navbar__left li a{
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

.navbar__left li a:hover{
    color: #3fd0d4;
}

.navbar__right{
    display: flex;
    align-items: center;
}

.social__item{
    margin-right: 30px;
}

.social__item ul{
    display: flex;
}

.social__item li {
    padding: 12px;
    list-style: none;
    font-size: 14px;
}

.social__item a:hover{
    color: #3abdc1;
}

.social__item li a{
    color: #fff;
}

.language__list{
    
}

.language__list:hover{
    cursor: pointer;
}

.eng__version{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3abdc1;
    width: 150px;
    height: 45px;
}

.eng__version a{
    text-decoration: none;
    color: #fff;
    padding: 0 8px;
}

.eng__version i{
    color: #fff;
}

.language__list ul{
    display: none
}

.login{
    padding: 14px 20px;
    background-color: #3fd0d4;
}

.login:hover{
    cursor: pointer;
}

.login a{
    color: #fff;
}

.container{
    margin: 100px 80px 0 80px;
    
}

.navbar__content{
    margin-bottom: 50px;
}

.top__content{
    text-align: center;
}

.top__content img{
    width: 256px;
    height: auto;
}

.top__content ul{
    display:  flex;
    justify-content: center;
    padding: 0;
}

.top__content li{
    padding: 8px 16px;
    list-style: none;
    margin: 0 20px;
}

.top__content a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.top__content a:hover{
    color: #3fd0d4;
}

.content__img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.content__img .img__left{
    width: 66.66666%;
    margin-right: 25px;
}

.content__img .img__right{
    width: 33.33333%;
    margin-left: 25px;
}


.img__left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__right img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.popular__tour{
    display: flex;
    margin-bottom: 80px;
}

.popular__tour .popular__img{
    padding: 50px;
    width: 50%;
}

.popular__tour img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.popular__tour h2{
    font-weight: 500;
    font-size: 40px;
}

.popular__tour .popular__content > p{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.3px;
    line-height: 25px;
}

.popular__img .popular__item--countryside{
    width: 50%;
}

.item{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -30px;
}

.item h4{
    font-size: 20px;
}

.item p{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    right: 0;
}

.popular__item--countryside .father{
    background: #f0ede8;
    height: 20px;
    width: 100%;
}

.popular__item--countryside .child{
    background: #3abdc1 ; 
    width: 76%;
    height: 20px;
}

.popular__item--vineyard .father{
    background: #f0ede8;
    height: 20px;
    width: 100%;
}

.popular__item--vineyard .child{
    background: #3abdc1 ; 
    width: 92%;
    height: 20px;
}

.popular__item--winetasting .father{
    background: #f0ede8;
    height: 20px;
    width: 100%;
}

.popular__item--winetasting .child{
    background: #3abdc1 ; 
    width: 86%;
    height: 20px;
}

.pb{
    padding-bottom: 20px;
}

.image__full-screen{
    margin-bottom: 80px;
}

.image__full-screen img{
    max-width: 100%;
    height: auto;
}

.the-best__tour{

}

.the-best__tour h2{
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

.the-best__tour p{
   text-align: center;
   font-size: 20px;
   line-height: 1.3;
   font-weight: 300;
}

.img__tour{
    display: flex;
    margin-bottom: 80px;
}

.item__img{
    width: 25%;
    padding: 12px;
}

.item__img .name__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: #fff; */
    font-size: 15px;
}

.item__img img{
    width: 100%;
    height: auto;
    position: relative;
}

.alone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__tour{
    display: flex;
    margin-bottom: 80px;
}

.text__tour{
    width: 25%;
    text-align: center;
    align-items: center;
}

.text__tour .number__lagre{
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 12px;
}

.text__tour h5{
    font-size: 20px; 
}

.text__tour p{
    font-size: 15px;
    line-height: 1.6;
}

.video__banner{
    margin-bottom: 80px;
}

.popular__tour--second{
    display: flex;
    margin-bottom: 80px;
}

.popular__tour--second h2{
    font-weight: 500;
    font-size: 40px;
}

.popular__tour--second .our__tour > p{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.3px;
    line-height: 25px;
}

.out__tour{
    margin-right: 16px;
}

.content__our-tour{
    display: flex;

}

.img__our-tour--left{
    margin-right: 16px;
}

.icon___content{
    display: flex;
    align-items: center;
    padding: 6px 6px 6px 0;
}

.icon__content img{
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.icon___content p{
    line-height: 26px;
    font-weight: 300;
    font-size: 15px;
}

.popular__img__second img{
    width: 300px;
    height: auto;
    clip-path: circle(150px at 50% 50%);
}

footer{
    height: 500px;
    background-color: #212121;
}





